<html>
    <head>
        {% if title %}
        <title>{{ title }} - OJ</title>
        {% else %}
        <title>Welcome to OJ</title>
        {% endif %}
    </head>
    <body>
        <div>OJ: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('problem') }}">Problem</a>
            <a href="{{ url_for('contest') }}">Contest</a>
            <a href="{{ url_for('status') }}">Status</a>
            <a href="{{ url_for('rank') }}">Rank</a>
            <a href="{{ url_for('inform') }}">Inform</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

            {% if current_user.is_anonymous %}
            Hi!
            {% else %}
            Hi, {{ current_user.username }}!
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>