{% extends "base.html" %}

{% block content %}
    <h1>Submission</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.problemid.label }}<br>
            {{ form.problemid(size=32) }}<br>
            {% for error in form.problemid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status(size=1) }}<br>
            {% for error in form.status.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.code.label }}<br>
            {{ form.code(size=512) }}<br>
            {% for error in form.code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}